version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - API_KEY=${API_KEY}
      - MODEL_TYPE=${MODEL_TYPE}
      - USE_GPU=${USE_GPU}
    volumes:
      - ./ml_model/saved_models:/app/ml_model/saved_models
      - ./models:/app/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped